body {
  font-family:"Knockout","Helvetica Nueu", Helvetica, sans-serif;
  margin:0;
  padding:0;
}

#wrapper {
  padding:10px;
}

h1 {
  font-size:70px;
  margin:10px 0;
}

#gallery .thumb {
  float:left;
  margin: 0 10px 10px 0;
}

#showcase-wrapper {
  visibility:hidden;  
  position:absolute;
  width:100%;  
  height:100%;
  text-align:center;
  padding-top:10px;
}
  #showcase-wrapper.showing {
    visibility:visible;
    background: rgba(0,0,0,0.8);
  }
#showcase-image {
  max-width:90%;
  max-height:90%;
  position:relative;
}
